<template name="layout">

<head>
<title>Online Menu</title>
</head>

<body>
    <div id="loading" style="display: none;">
        <div></div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-text">Data are from bestrestaurant paris.com</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            {{ >map}}
        </div>

    </div>

</body>

</template>
